<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>

  <appSettings>
    <add key="TwitchUriFormat" value="https://api.twitch.tv/kraken/channels/{0}/videos"/>
    <add key="TwitchUriParameters" value="?broadcasts=true"/>
    <add key="YouTubeUriFormat" value="https://gdata.youtube.com/feeds/api/users/{0}/uploads"/>

    <!-- Insert channel names separated by '|' -->
    <add key="YouTubeChannels" value=""/>
    <add key="TwitchChannels" value=""/>
  </appSettings>
  
</configuration>
